# compose project name (used to name/group your stack containers)
COMPOSE_PROJECT_NAME=geoname
# Registry from where you pull Docker images
DOCKER_REGISTRY=local
# Tag of the Docker images
DOCKER_TAG=latest


MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin123456
MONGO_INITDB_DATABASE=geonames
MONGO_NON_ROOT_USERNAME=geonames
MONGO_NON_ROOT_PASSWORD=geonames

# Elasticsearch
ELASTICSEARCH_PORT=6200
