<!DOCTYPE html>
<html>
  <head>
    <title>GeoLoc Server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Geoloc Server</h1>
    <p>Available scripts: find_city, get_name, geoip.</p>
    <h2>Syntax:</h2> 
    <p>/find_city?city=<i>cityname</i>[,<i>countryname</i>][&sort=population]</p>
    <p>/get_name?geonameid=<i>id</i></p>
    <p>/geoip?ip=<i>ip</i></p>
  </body>
</html>
