<!DOCTYPE html>
<html>
  <head>
    <title>GeoLoc Server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Geoloc Server</h1>
    <h2>
        <a name="documentation" class="anchor" href="#documentation"><span class="mini-icon mini-icon-link"></span></a>
        Documentation
    </h2>
  </body>
</html>
