<html>
    <head>
        <style>
                @charset "utf-8";

                /**
                 * markdown.css
                 *
                 * This program is free software: you can redistribute it and/or modify it under
                 * the terms of the GNU Lesser General Public License as published by the Free
                 * Software Foundation, either version 3 of the License, or (at your option) any
                 * later version.
                 *
                 * This program is distributed in the hope that it will be useful, but WITHOUT
                 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
                 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
                 * details.
                 *
                 * You should have received a copy of the GNU Lesser General Public License
                 * along with this program. If not, see http://gnu.org/licenses/lgpl.txt.
                 *
                 * @project      Weblog and Open Source Projects of Florian Wolters
                 * @version      GIT: $Id$
                 * @package      xhtml-css
                 * @author       Florian Wolters <florian.wolters.85@googlemail.com>
                 * @copyright    2012 Florian Wolters
                 * @cssdoc       version 1.0-pre
                 * @license      http://gnu.org/licenses/lgpl.txt GNU Lesser General Public License
                 * @link         http://github.com/FlorianWolters/jekyll-bootstrap-theme
                 * @media        all
                 * @valid        true
                 */

                body {
                    font-family: Helvetica, Arial, Freesans, clean, sans-serif;
                    padding:1em;
                    margin:auto;
                    max-width:42em;
                    background:#fefefe;
                }

                h1, h2, h3, h4, h5, h6 {
                    font-weight: bold;
                }

                h1 {
                    color: #000000;
                    font-size: 28px;
                }

                h2 {
                    border-bottom: 1px solid #CCCCCC;
                    color: #000000;
                    font-size: 24px;
                }

                h3 {
                    font-size: 18px;
                }

                h4 {
                    font-size: 16px;
                }

                h5 {
                    font-size: 14px;
                }

                h6 {
                    color: #777777;
                    background-color: inherit;
                    font-size: 14px;
                }

                hr {
                    height: 0.2em;
                    border: 0;
                    color: #CCCCCC;
                    background-color: #CCCCCC;
                }

                p, blockquote, ul, ol, dl, li, table, pre {
                    margin: 15px 0;
                }

                code, pre {
                    border-radius: 3px;
                    background-color: #F8F8F8;
                    color: inherit;
                }

                code {
                    border: 1px solid #EAEAEA;
                    margin: 0 2px;
                    padding: 0 5px;
                }

                pre {
                    border: 1px solid #CCCCCC;
                    line-height: 1.25em;
                    overflow: auto;
                    padding: 6px 10px;
                }

                pre > code {
                    border: 0;
                    margin: 0;
                    padding: 0;
                }

                a, a:visited {
                    color: #4183C4;
                    background-color: inherit;
                    text-decoration: none;
                }
        </style>
    </head>
    <body>
        <h1>GeonamesServer</h1>

        <p>
            <a href="https://travis-ci.org/alchemy-fr/GeonamesServer">
                <img alt="Build Status" src="https://secure.travis-ci.org/alchemy-fr/GeonamesServer.png?branch=master">
            </a>
        </p>

        <p>A node.js server used to get the biggest or the closest cities based on a given HTTP request.</p>

        <h2>Usage</h2>

        <h3>CORS Requests</h3>

        <p>All responses from the GeonamesServer include required headers to be
        <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS</a> compliant</p>

        <h3>JSONP Requests</h3>

        <p>The GeonamesServer supports <a href="http://en.wikipedia.org/wiki/JSONP">JSONP</a> requests.
        The callback parameter is <code>callback</code>.</p>

        <p><em>Request</em></p>

        <p><pre><code>/ip?ip=4.23.171.0&amp;callback=myFunction</code></pre></p>

        <p><em>Response</em></p>

        <p><pre><code>json
        myFunction(    {
            "geonames": {
                  "ip": "4.23.171.0",
                  "geoname": {
                        "city": "New York",
                        "country_code": "US",
                        "country": "United States",
                        "longitude": "-73.98",
                        "latitude": "40.75",
                        "fips": "New York"
                  }
            }
        })
        </code></pre></p>

        <h2>Routes</h2>

        <p>The following is a list of available routes.
        All these routes can only be accessed through GET requests.</p>

        <p>Any other methods will result in a <em>405 Method not allowed</em> error.</p>

        <p>The results will be sent with the application/json mimetype.</p>

        <p>If the <em>sort</em> parameter is specified and set to <em>closeness</em>
        but the location of the request could not be determined
        (due to a lack of data within the GEOIP database or GEOIP module not
        being installed), the current sort will be replaced by the <em>population</em> sort.</p>

        <p>If a mandatory parameter or unknown parameter value is detected the server will
        respond with a <em>400 Bad Request</em> error.</p>

        <h3>/</h3>

        <p>Returns a quick documentation in HTML format.</p>

        <h3>/city</h3>

        <p>Gets the list of all the cities in the database, limited to *max<em>result</em>per_page* results by default.</p>

        <p>*max<em>result</em>per_page* is setted from configuration files or overridden with limit
        query parameter parameter up to 100.</p>

        <h4>Parameters</h4>

        <ul><li><p><strong>sort</strong> (optional, string, default value : population) available values :</p><ul><li><p>population : The results will be sorted by population.</p></li><li><p>closeness : The results will be sorted by closeness to the place the request was sent from.</p></li></ul></li><li><p><strong>name</strong> (optional, string) : Filters city whose begins with a given name.</p></li><li><p><strong>country</strong> (optional, string) : Only cities located in countries whose name begins with this parameter will be returned.</p></li><li><p><strong>limit</strong> (optional, string) : The number of results.</p></li><li><p><strong>client-ip</strong> (optional, string) : This parameter is used within the <em>closeness</em> sort parameter to provide a custom remote IP. <code>/city?sort=closeness&amp;client-ip=80.12.81.19</code></p></li></ul>

        <h3>/city/{id}</h3>

        <p>Returns the city which <em>geonameid</em> value is equal to the given id.</p>

        <h3>/ip?ip={ip}</h3>

        <p>Returns the city in which the given IP address is located</p>

        <h2>Accepted content types</h2>

        <p>GeonamesServer can return data formated in <strong>json</strong>.</p>

        <h3>Examples of response</h3>

        <p>Following are the results returned for the request */city/name=paris&amp;limit=2</p>

        <h4>json</h4>

        <p><pre><code>json
        {
            "geonames": {
                "totalResultsCount": "2",
                "geoname": [
                    {
                        "score": 884.5834,
                        "geonameid": 2988507,
                        "name": "Paris",
                        "country": {
                            "name": "France",
                            "code": "FR"
                        },
                        "timezone": "Europe/Paris",
                        "feature": {
                            "class": "P",
                            "code": "PPLC"
                        },
                        "population": 2138551,
                        "location": {
                            "latitude": 48.85341,
                            "longitude": 2.3488
                        },
                        "names": [
                            "paris",
                            "baariis",
                            "bahliz",
                            "gorad paryzh",
                            "lungsod ng paris",
                            "lutece",
                            "lutetia",
                            "lutetia parisorum",
                            "par",
                            "pa-ri",
                            "paarys",
                            "palika",
                            "paname",
                            "pantruche",
                            "paraeis",
                            "paras",
                            "pari",
                            "paries",
                            "parigge",
                            "pariggi",
                            "parighji",
                            "parigi",
                            "pariis",
                            "pariisi",
                            "parij",
                            "parijs",
                            "paris",
                            "parisi",
                            "parixe",
                            "pariz",
                            "parize",
                            "parizh",
                            "parizh osh",
                            "parizh'",
                            "parizo",
                            "parizs",
                            "pariž",
                            "parys",
                            "paryz",
                            "paryzius",
                            "paryż",
                            "paryžius",
                            "paräis",
                            "parís",
                            "paríž",
                            "parîs",
                            "parĩ",
                            "parī",
                            "parīze",
                            "paříž",
                            "páras",
                            "párizs",
                            "ville-lumiere",
                            "ville-lumière",
                            "ba li",
                            "barys",
                            "pairisa",
                            "pali",
                            "pari",
                            "paris",
                            "parys",
                            "paryzh",
                            "perisa",
                            "pryz",
                            "pyaris",
                            "pyarisa",
                            "pyrs",
                            "παρίσι",
                            "горад парыж",
                            "париж",
                            "париж ош",
                            "парижь",
                            "париз",
                            "парис",
                            "паріж",
                            "փարիզ",
                            "פאריז",
                            "פריז",
                            "باريس",
                            "پارىژ",
                            "پاريس",
                            "پاریس",
                            "پیرس",
                            "ܦܐܪܝܣ",
                            "पॅरिस",
                            "पेरिस",
                            "पैरिस",
                            "প্যারিস",
                            "ਪੈਰਿਸ",
                            "પૅરિસ",
                            "பாரிஸ்",
                            "పారిస్",
                            "ಪ್ಯಾರಿಸ್",
                            "പാരിസ്",
                            "ปารีส",
                            "ཕ་རི།",
                            "ပါရီမြို့",
                            "პარიზი",
                            "ፓሪስ",
                            "ប៉ារីស",
                            "パリ",
                            "巴黎",
                            "파리"
                        ],
                        "admin1Code": "A8",
                        "admin2Code": 75,
                        "admin3Code": 751,
                        "admin4Code": 75056,
                        "updatedOn": "2012-08-19",
                        "region": {
                            "code": "FR.A8",
                            "name": "Île-de-France"
                        }
                    },
                    {
                        "score": 312.7515,
                        "geonameid": 4717560,
                        "name": "Paris",
                        "country": {
                            "name": "United States",
                            "code": "US"
                        },
                        "timezone": "America/Chicago",
                        "feature": {
                            "class": "P",
                            "code": "PPLA2"
                        },
                        "population": 25171,
                        "location": {
                            "latitude": 33.66094,
                            "longitude": -95.55551
                        },
                        "names": [
                            "paris",
                            "prx",
                            "paris",
                            "parizh",
                            "barys",
                            " tksas",
                            "parys",
                            " tgzas",
                            "париж",
                            "парис",
                            "باريس، تكساس",
                            "پاریس، تگزاس"
                        ],
                        "admin1Code": "TX",
                        "admin2Code": 277,
                        "admin3Code": "",
                        "admin4Code": "",
                        "updatedOn": "2011-05-14",
                        "region": {
                            "code": "US.TX",
                            "name": "Texas"
                        }
                    }
                ]
            }
        }
        </code></pre></p>
    </body>
</html>
